.header {
	width: 100%;
	background-color: #b80000;
	padding: 0.5rem 1rem;
}
.headerTop {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.logo {
	font-size: 2.1rem;
	font-weight: 700;
}
.inputContainer {
	background-color: #fff;
	width: 100%;
	max-width: 25rem;
	display: flex;
	border: 2px solid #fff;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
}
.input {
	flex: 1;
	padding-left: 0.5rem;
	font-size: 1.1rem;
	outline: none;
	border: none;
	border-radius: inherit;
}
.inputButton {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #b80000;
	color: #fff;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	cursor: pointer;
	font-size: 1.1rem;
	transition: background-color 0.5s ease;
}
.inputButton:hover {
	background-color: #6b0101;
}
