.header {
	width: 100%;
	background-color: #b80000;
}
.headerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.logo {
	font-size: 2.1rem;
	font-weight: 700;
}
